@import "tailwindcss";

:root {
  --font-outfit: var(--font-outfit);
  --font-instrument-sans: var(--font-instrument-sans);
  --font-clash-display: var(--font-clash-display);
}

body {
  font-family: var(--font-outfit);
}

button {
  font-family: var(--font-instrument-sans);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}
